
.titulo{
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 17px 0 0 0;
    font-size: 1.375em;
}
.col-right--sobre{
    margin: 20px 0;
}
.col-right--sobre h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25em;
    font-weight: normal;
}