.button{

}

@media(max-width:640px){
    .button{
        display: flex;
        background-color: #1d1921;
        border: none;
        padding: .5rem 1rem;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #e4e8ef;
        cursor: pointer;
        margin: 10px;
        align-items: center;
    }
    .button::before{
        margin-right: 4px;
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        background-color: #e4e8ef;
        box-shadow: 0 4px #e4e8ef, 0 -4px #e4e8ef;
    }
    #menu{
        display: none;
        background-color: #1d1921;
        width: 160px;
        height: 73%;
        padding: 5px 0 20px 0;
    }

    .nav-link ul li{
        margin: 20px 0;
      
    }
    .nav-link ul li a{
        color: #e4e8ef;
    }
}